*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1D1D1D;
    color: white;

    /* Hide the scrollbar but keep scroll functionality */
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Hides scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Hides scrollbar for Firefox */
body {
    scrollbar-width: none;
    /* Firefox */
}

/* Hides scrollbar for Internet Explorer 10+ and Edge (older versions) */
body {
    -ms-overflow-style: none;
}